*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background: #FFDFB9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
header{
  width: 100%;
  height: 75px;
  background: #FFDFB9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:2px solid;
}
.headerLeft{
  width: 25%;
  height: 100%;
}
.headerLeft>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.headerRight{
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}
.headerRight>ul{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  list-style-type: none;
  font-size:25px;
}
.headerRight>ul>li:hover{
  text-decoration: underline;
}
.changer{
  width: 80%;
  height: 400px;
  background: url("https://whoanellyga.com/cdn/shop/collections/shutterstock_547453213_1200x1200.png?v=1613410390");
  background-size: cover;
}
.changer>img{
  width: 100%;
  height: 100%;
  transition: 1s ;
}
.changer>img:hover{
  opacity: 0;
}